Tests/Bin/*
Tests/TestsResults/*
Tests/TestConfigsDev/*
Tests/.vs/*
Bin/*
*.user
*.sdf
*.opensdf
*.suo
*.ptx
*.pyc
*.VC.db
FalcorTest/TestResults/*
*.VC.opendb
.vs/*
.vscode/
*.pyc
*.o
*slang-dump-*
Source/Externals/.packman/*
Media
/Tests/TestResults/*
/Tests/Solution_BuildLog.txt
/Tests/robocopy.txt
