# Build folder.
/build/

# Test output folder.
/tests/data/

# Media folder.
/media

# Packman folders.
/external/packman/
/tools/.packman/

# IDE folders.
/.vs/
/.vscode/

# File types.
*.user
*.suo
*.pyc
*.VC.db
*.VC.opendb
*.pyc
*slang-dump-*
*.mp4
*.tlog
*.bak
